<div class="container">
    <div class="jumbotron">
        <h1>Bitcoin Documentation</h1>
        <p>It's time to check out some code.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <p><h2>Core</h2>
                        <p>Information about the core Bitcoin protocol</p>
                        <a href="#api/bitcoin/core"><button type="button" class="btn btn-primary btn-lg">Bitcoin Core</button></a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <p><h2>RPC</h2>
                        <p>Information about Bitcoin's RPCs and how to use them</p>
                        <a href="#api/bitcoin/rpc"><button type="button" class="btn btn-primary btn-lg">Bitcoin RPC</button></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>