<div class="container">
    <div class="jumbotron">
        <h1>Welcome to CoinDocs!</h1>
        <p>Have questions about how Bitcoin works under-the-hood?</p>
        <p>You've come to the right place.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <p><h2>Developers</h2>
                        <p>You want to see code and the nitty-gritty details? What are you waiting for?</p>
                        <a href="#api"><button type="button" class="btn btn-primary btn-lg">Documentation</button></a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <p><h2>Non-Developers</h2>
                    <p>If you want to start slowly and have the technical details explained to you at your own pace, start here.</p>
                        <a href="#tutorials"><button type="button" class="btn btn-primary btn-lg">Tutorials</button></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
