<nav class="navbar navbar-default" role="navigation">

    {{if( model.header ){ }}
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">CoinDocs</a>
        </div>
    {{ } }}
    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    
        {{if( model.body ){ }}
            {{ _.each( model.body, function( menuItem ){ }} 
                <ul class="nav navbar-nav">
                
                    {{ if( menuItem.type == 'dropdown' ){ }}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{=menuItem.text}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {{ _.each( menuItem.items, function( subItem ){ 
                                    if( subItem.type == 'link' ){ }}
                                        <li><a href="{{=subItem.url}}">{{=subItem.text}}</a></li>
                                    {{ }else if( subItem.type == 'spacer'){ }}
                                        <li><hr></li>
                                    {{ } }}
                                {{ }); }}
                            </ul>
                        </li>
                    {{ } }}
                    
                </ul>
            {{ }); }}
        {{ } }}
        
        {{ if( model.footer ){ }}
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{{=model.footer.url}}">{{=model.footer.text}}</a></li>
            </ul>
        {{ } }}
        
    </div><!-- /.navbar-collapse -->
</nav>