<div class="container">
    <div class="jumbotron">
        <h1>Tutorials</h1>
        <p>For a self-guided tour of Bitcoin's code, choose a tutorial below.</p>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <p><h2>Converting to Bitcoin-CLI</h2>
                        <p>Information about converting from bitcoind to bitcoin-cli</p>
                        <a href="#tutorials/bitcoin/convertingToCLI"><button type="button" class="btn btn-primary btn-lg">Conversion Walkthrough</button></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <p>If you want to see more tutorials here, <a href="#home/about">please help</a>!</p>
        </div>
    </div>
</div>
