<div class="container">
    <div class="jumbotron">
        <h1>Moving to Bitcoin-CLI</h1>
    </div>
    <p>Eu illum in amet. Quamquam de quid occaecat, cernantur aliqua eiusmod ex est 
        nisi familiaritatem, in quid expetendis graviterque. Si pariatur arbitrantur iis 
        ullamco do varias, offendit irure ut singulis instituendarum do aliqua 
        incurreret probant. Incurreret cohaerescant ad incurreret hic fugiat ita quo 
        lorem laborum o probant enim legam te irure id ita aut quid eiusmod. Offendit 
        sint vidisse possumus, o summis fore minim vidisse sed quo nisi domesticarum, 
        multos ad cupidatat. Aut aliqua sint quem occaecat, an ab quem sunt aute, 
        probant non admodum, amet offendit iis concursionibus, ut qui illum offendit id 
        sed ipsum singulis vidisse, ad dolore quem ut admodum, doctrina ita singulis. 
        Officia ex irure incididunt, an ne malis duis veniam, ipsum officia 
        efflorescere, est mentitum distinguantur.</p>
    <p>Eu illum in amet. Quamquam de quid occaecat, cernantur aliqua eiusmod ex est 
        nisi familiaritatem, in quid expetendis graviterque. Si pariatur arbitrantur iis 
        ullamco do varias, offendit irure ut singulis instituendarum do aliqua 
        incurreret probant. Incurreret cohaerescant ad incurreret hic fugiat ita quo 
        lorem laborum o probant enim legam te irure id ita aut quid eiusmod. Offendit 
        sint vidisse possumus, o summis fore minim vidisse sed quo nisi domesticarum, 
        multos ad cupidatat. Aut aliqua sint quem occaecat, an ab quem sunt aute, 
        probant non admodum, amet offendit iis concursionibus, ut qui illum offendit id 
        sed ipsum singulis vidisse, ad dolore quem ut admodum, doctrina ita singulis. 
        Officia ex irure incididunt, an ne malis duis veniam, ipsum officia 
        efflorescere, est mentitum distinguantur.</p>
    <pre>
        This will be rendered as code, with the type auto-decided.
        We can also use Google Prettify (which I've used before) if interested.
    </pre>
</div>