.navbar{
    background: #16cbe6;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#navbar .navbar a{
    color: white;
}
#navbar .navbar .dropdown-menu a{
    color: black;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: rgb(18, 171, 192);
}

.panel-body .btn {
    background-color: #16cbe6;
    border-color: #16cbe6;
}